{% extends "base.html" %}

{% block title %}{{ block.super }} - Add Food{% endblock %}

{% block sidebar_left %}
	<h3>Results Shortcuts:</h3>
	{% if shortcut_ids %}
		{% for id, display in shortcut_ids.items %}
		<hr>
			<a href="#{{ id }}">{{ display }}</a>
		{% endfor %}
	{% else %}
		<p>There are no results.</p>
	{% endif %}
{% endblock %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		<table>
			<tr>
				{{ form.query.label_tag }}
				<!-- link for returning to top of page from bottom -->
				<a id="top">
					{{ form.query }}
				</a>
				<button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>
				{% for radio in form.food_type %}
					| {{ radio }} 
				{% endfor %}
			</tr>
		</table>
	</form>

	<!-- Search results -->
	{% if results %}
		<h2><strong>Results:</strong></h2>
		{% for food, description in results.items %}
			<table class="table">
				<!-- Top line of each search result -->
				<td colspan=3>
					<a class="btn btn-primary btn-lg btn-block" role="button" href="">Add to my saved foods</a>
				<td rowspan=6>
					<img src="{{ description.image.url }}" alt="food img" style="width:20vw; height:auto;">
				</td>
				<tr>
					<hr>
					<!-- Link desitnation for search result shortcuts -->
					<a id="{{ food }}">
					<td>
						<h1>{{ food|title }}</h1>
					</td>
					{% if description.brand %}
						<td>
							<h3><strong>{{ description.brand|title }}</strong></h3>
						</td>
					{% else %}
						<td>
							<h4><strong>USDA Common Food</strong></h4>
						</td>
					{% endif %}
					</a>
				</tr>
				<tr>
					<td>
						<p>Serving size: {{ description.serving.qty }} {{ description.serving.unit }} ({{ description.weight.qty }}{{ description.weight.units }})</p>
					</td>
					<td>
						<p>Energy: {{ description.energy.qty }} {{ description.energy.units }}</p>
					</td>
				</tr>
				<tr>
					<td>
						<p><strong>Protein: {{ description.protein.qty }}{{ description.protein.units }}</strong></p>
						<p><strong>Carbs: {{ description.carbohydrate.qty }}{{ description.carbohydrate.units }}</strong></p>
						<p>Fiber: {{ description.fiber.qty }}{{ description.fiber.units }}</p>
						<p>Total Sugar: {{ description.sugar.qty }}{{ description.sugar.units }}</p>
						{% if description.a_sugar %}
							<p>Added Sugar: {{ description.a_sugar.qty }}{{ description.a_sugar.units }}</p>
						{% else %}
							<p>Added Sugar: No data</p>
						{% endif %}
						<p><strong>Fat: {{ description.fat.qty }}{{ description.fat.units }}</strong></p>
						{% if description.saturated %}
							<p>Saturated Fat: {{ description.saturated.qty }}{{ description.saturated.units }}</p>
						{% else %}
							<p>Saturated Fat: No data</p>
						{% endif %}
						{% if description.monounsaturated %}
							<p>Monounsaturated Fat: {{ description.monounsaturated.qty }}{{ description.monounsaturated.units }}</p>
						{% else %}
							<p>Monounsaturated Fat: No data</p>
						{% endif %}
						{% if description.polyunsaturated %}
							<p>Polyunsaturated Fat: {{ description.polyunsaturated.qty }}{{ description.polyunsaturated.units }}</p>
						{% else %}
							<p>Polyunsaturated Fat: No data</p>
						{% endif %}
						{% if description.sodium %}
							<p>Sodium: {{ description.sodium.qty }}{{ description.sodium.units }}</p>
						{% else %}
							<p>Sodium: No data</p>
						{% endif %}
					</td>
					<td>
						{% for name, field in description.items %}
							<!-- Excluding any fields already displayed -->
							{% if name not in display_exclusion %}
								<p>{{ name|title }}: {{ field.qty }}{{ field.units }}</p>
							{% endif %}
						{% endfor %}
					</td>
				</tr>
			</table>
		{% endfor %}
		<!-- Return to top link at the bottom of the page -->
		<a href="#top">Back to top</a>
	{% endif %}

{% endblock %}